<!-- Loop over each object in the projects array -->
{{#each dashboards as |dashboard| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>{{dashboard.name}}</h2>
    
    <p>Created by {{dashboard.user.name}} on {{format_date dashboard.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>{{dashboard.description}}</p>    
    <h5><a href="/dashboard/{{dashboard.id}}">{{dashboard.commentaries_dashboard_detail.length}} 
      Commentaries</a></h5>
  </div>
</div>
{{/each}}
